* {
  &,
  &::after,
  &::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: inherit;
  }
  &::selection {
    color: $color-white;
    background-color: $color-primary;
  }
}

body {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  background-color: $color-bg;
  // height: 120vh;
  scroll-behavior: smooth;
  margin: 2rem;
  @include respond(tab-port) {
    font-size: 7px;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: $color-primary-light;
}
