.container {
  // display: flex;
  // justify-content: center;

  @include absPosition;
  // border: 1px solid $color-white;
  padding: 2rem;
  box-shadow: 5px 5px 10px #999, -5px -5px 10px #fff;
  border-radius: 4px;
  // height: 80vh;
  width: 30%;
}

.card {
  // width: 50%;
  &__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__heading {
    &:focus {
      border-bottom: 3px solid $color-primary;
      opacity: 1;
    }

    &:not(:last-child) {
      padding-right: 2rem;
    }

    &:last-child {
      place-items: margin-left;
    }
    padding-bottom: 1.5rem;

    &--link {
      text-decoration: none;
      opacity: 0.75;
      transition: all 0.2s;

      &:link,
      &:visited {
        color: $color-black;
      }

      &:active,
      &:hover,
      &:focus {
        border-bottom: 3px solid $color-primary;
        opacity: 1;
      }
      &:active::before {
        border-bottom: 3px solid $color-primary;
        opacity: 1;
      }
    }
  }

  &__form {
  }

  &__element {
  }

  &__sub--heading {
  }

  &__input {
    font-family: inherit;
    color: inherit;
    padding: 0.3rem 0.7rem;
    border: none;
    border-bottom: 3px solid transparent;
    width: 80%;
    display: block;
    // -webkit-transition: all 0.3s;
    // transition: all 0.3s;
    background-color: $color-primary-light;
    outline: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    cursor: text;
    color: $color-white;
    border-radius: 5px;
  }

  &__elements {
  }

  &__algo {
    &--main {
    }

    &--inputs {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      position: relative;
    }

    &--radio {
      background-color: $color-primary-light;
      display: none;
    }

    &-radio--label {
    }

    &--inputs {
    }

    &--label {
    }
  }

  &__mode {
    &--inputs {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    &--radio {
      display: none;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: inherit;
    display: inline-block;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(#fff, 0.6);
  }
}

// .focus {
//   border-bottom: 3px solid $color-primary;
//   opacity: 1;
// }

// .focus:visited {
//   border-bottom: none;
//   opacity: 0.7;
// }

.btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 287px;
  // height: 69px;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: $color-primary;
  color: $color-white;

  // line-height: 30px;
  // display: flex;
  // align-items: center;
  // text-align: center;
}

.inputs {
  width: 50%;
}

.mode__inputs {
  width: 50%;
  position: relative;
}

.radio__inputs {
  height: 1rem;
  width: 1rem;
  border: 2px solid $color-primary;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  // position: absolute;
  left: -2px;
  top: 0px;

  &::after {
    content: "";
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-primary;
    opacity: 0;
    transition: opacity 0.2s;
  }
  // &__radio-input:checked ~ &__radio-label &__radio-button::after {
  //   opacity: 1;
  // }
}

.radio:checked ~ .radio__label .radio__inputs::after {
  opacity: 1;
}
