.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 367px;
  min-width: 367px;
}
@media only screen and (max-width: 37.5em) {
  .container {
    padding: 1rem;
    padding-right: 2rem;
  }
}

.card {
  position: relative;
  box-shadow: 5px 5px 10px #999, -5px -5px 10px #fff;
  border-radius: 4px;
  padding: 1.5rem;
  width: 367px;
}
@media only screen and (max-width: 37.5em) {
  .card {
    padding: 1rem;
  }
}
.card__heading {
  font-style: normal;
  font-weight: 550;
  font-size: 22px;
  line-height: 37px;
  text-align: center;
  padding-bottom: 0.5rem;
}
@media only screen and (max-width: 56.25em) {
  .card__heading {
    font-size: 20px;
  }
}
.card__heading:focus {
  border-bottom: 3px solid #892cdc;
  opacity: 1;
}
.card__heading:not(:last-child) {
  padding-right: 2rem;
  margin-right: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .card__heading:not(:last-child) {
    padding-right: 1rem;
    margin-right: 1rem;
  }
}
.card__heading:last-child {
  place-items: margin-left;
}
.card__heading--link {
  flex-grow: 1;
  text-decoration: none;
  opacity: 0.75;
  transition: all 0.2s;
  flex: 1;
}
.card__heading--link:link, .card__heading--link:visited {
  color: #000;
}
.card__heading--link:hover {
  border-bottom: 2px solid rgba(138, 44, 220, 0.6);
  opacity: 1;
  border-radius: 1px;
  color: #892cdc;
}
.card__heading--link:active::before, .card__heading--link:focus {
  border-bottom: 3px solid #892cdc;
  opacity: 1;
  color: #892cdc;
}
.card__rel {
  position: relative;
  width: 100%;
  height: 100%;
}
.card__sub--heading {
  font-style: normal;
  font-weight: normal;
  font-weight: 450;
  font-size: 15px;
  line-height: 22px;
  margin: 0.8rem 0 0.3rem;
}
@media only screen and (max-width: 56.25em) {
  .card__sub--heading {
    font-size: 1rem;
    line-height: 1.8rem;
    margin: 0.4rem 0 0.2rem;
  }
}
.card__sub--heading:not(:last-child) {
  margin: 0.8rem 0 0;
}
@media only screen and (max-width: 56.25em) {
  .card__sub--heading:not(:last-child) {
    margin: 0.5rem 0 0;
  }
}
.card__sub--heading:not(:first-child) {
  margin: 0rem 0 0.3rem;
}
.card__input {
  font-family: inherit;
  color: inherit;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
  border: none;
  width: 85%;
  display: block;
  background-color: rgba(138, 44, 220, 0.6);
  outline: none;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  cursor: text;
  color: #fff;
  border-radius: 5px;
}
@media only screen and (max-width: 56.25em) {
  .card__input {
    width: 90%;
  }
}
.card__input::-moz-placeholder {
  font-size: 1.2rem;
}
.card__input:-ms-input-placeholder {
  font-size: 1.2rem;
}
.card__input::placeholder {
  font-size: 1.2rem;
}
.card__algo--inputs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}
.card__algo--radio {
  background-color: rgba(138, 44, 220, 0.6);
  display: none;
}
.card__mode--inputs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.card__mode--radio {
  display: none;
}

.nav__item {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav__items {
  list-style-type: none;
  display: inline-block;
  align-self: flex-start;
}

.heading2 {
  align-self: flex-start;
}

.inputs {
  width: 50%;
  margin-bottom: 0.2rem;
}

.mode__inputs {
  width: 50%;
  position: relative;
}

.radio__inputs {
  height: 1rem;
  width: 1rem;
  border: 2px solid #892cdc;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 0px;
  top: 3px;
}
.radio__inputs::after {
  content: "";
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #892cdc;
  opacity: 0;
  transition: opacity 0.3s;
}

.radio:checked ~ .radio__label .radio__inputs::after {
  opacity: 1;
}

.radio__label {
  font-size: 0.8rem;
}

.nav_radio {
  display: none;
}

.radio:checked + .nav__label {
  border-bottom: 3px solid #892cdc;
  opacity: 1;
  color: #892cdc;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
}
*::-moz-selection {
  color: #fff;
  background-color: #892cdc;
}
*::selection {
  color: #fff;
  background-color: #892cdc;
}

body {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
  scroll-behavior: smooth;
  margin: 2rem;
}
@media only screen and (max-width: 56.25em) {
  body {
    font-size: 7px;
  }
}
@media only screen and (max-width: 37.5em) {
  body {
    font-size: 6px;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(138, 44, 220, 0.6);
}

.heading2:target .card__string {
  visibility: hidden;
  opacity: 0;
}

#nav__string {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.string:checked {
  border-bottom: 3px solid #892cdc;
  opacity: 1;
}

.card__string {
  display: inline-block;
  opacity: 1;
  visibility: visible;
}

.card__string-on {
  display: inline-block;
  opacity: 1;
  visibility: visible;
}

.nav_active {
  visibility: visible;
  opacity: 1;
  display: initial;
}

.card__string-off {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.card__file {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  display: none;
}

.card__file-off {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.file {
  display: none;
}

.heading2:target .file {
  visibility: visible;
  opacity: 1;
}

.file:checked .card__file {
  visibility: visible;
  opacity: 1;
}

.card__file-on {
  visibility: visible;
  opacity: 1;
}

.card__batch {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  display: none;
}

.card__batch-on {
  visibility: visible;
  opacity: 1;
  display: initial;
}

.batch {
  display: none;
}

.batch:checked .card__batch {
  visibility: visible;
  opacity: 1;
}

.card__btn {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: inherit;
  display: inline-block;
  align-items: center;
}

.btn__main {
  display: flex;
  justify-content: center;
}

.btn {
  z-index: 3;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: #892cdc;
  color: #fff;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #7517c8;
  transform: translateY(-3px) scale(1.05);
}
.btn:active {
  transform: translateY(0px);
}

.output {
  display: none;
  visibility: hidden;
}

.output__on {
  display: block;
  visibility: visible;
  width: auto;
  margin-top: 0.7rem;
}

.card__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.h-output {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: inherit;
}

.copy__icon {
  font-size: 1.5rem;
  background: none;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.copy__icon:hover {
  color: #892cdc;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.copy__icon:active {
  transform: scale(1);
  color: #892cdc;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.output__string {
  font-size: 1rem;
}

.output__string-on {
  font-size: 1rem;
  background-color: #892cdc;
  color: #fff;
}/*# sourceMappingURL=main.css.map */