.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  box-shadow: 5px 5px 10px #999, -5px -5px 10px #fff;
  border-radius: 4px;
  width: 30%;
}

.card__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: flex-end;
}
.card__heading {
  padding-bottom: 1.5rem;
}
.card__heading:focus {
  border-bottom: 3px solid #892cdc;
  opacity: 1;
}
.card__heading:not(:last-child) {
  padding-right: 2rem;
}
.card__heading:last-child {
  place-items: margin-left;
}
.card__heading--link {
  text-decoration: none;
  opacity: 0.75;
  transition: all 0.2s;
}
.card__heading--link:link, .card__heading--link:visited {
  color: #000;
}
.card__heading--link:active, .card__heading--link:hover, .card__heading--link:focus {
  border-bottom: 3px solid #892cdc;
  opacity: 1;
}
.card__heading--link:active::before {
  border-bottom: 3px solid #892cdc;
  opacity: 1;
}
.card__input {
  font-family: inherit;
  color: inherit;
  padding: 0.3rem 0.7rem;
  border: none;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  background-color: rgba(138, 44, 220, 0.6);
  outline: none;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  cursor: text;
  color: #fff;
  border-radius: 5px;
}
.card__algo--inputs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}
.card__algo--radio {
  background-color: rgba(138, 44, 220, 0.6);
  display: none;
}
.card__mode--inputs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.card__mode--radio {
  display: none;
}
.card__btn {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: inherit;
  display: inline-block;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.6);
}

.btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: #892cdc;
  color: #fff;
}

.inputs {
  width: 50%;
}

.mode__inputs {
  width: 50%;
  position: relative;
}

.radio__inputs {
  height: 1rem;
  width: 1rem;
  border: 2px solid #892cdc;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: -2px;
  top: 0px;
}
.radio__inputs::after {
  content: "";
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #892cdc;
  opacity: 0;
  transition: opacity 0.2s;
}

.radio:checked ~ .radio__label .radio__inputs::after {
  opacity: 1;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::-moz-selection {
  color: #fff;
  background-color: #892cdc;
}
*::selection {
  color: #fff;
  background-color: #892cdc;
}

body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(138, 44, 220, 0.6);
}/*# sourceMappingURL=main.css.map */