<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="HTML CSS SCSS">
  <title>Design</title>

  <!-- Style CSS -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/SASS/main.css') }}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

  <!-- Fonts Awesome  -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- JQuery  -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


  <script src="{{ url_for('static',filename='js/ajax.js') }}"></script>


  <!-- JavaScript -->
  <script src="{{ url_for('static',filename='js/script.js') }}"></script>

</head>

<body>



  <section>
    <div class="container">
      <div class="card">
        <nav class="card__nav">
          <ul class="nav__item">
            <li class="nav__items">
              <h2 class="card__heading">
                <a href="#" class="card__heading--link heading1">
                  <input type="radio" name="nav" id="nav__string" onclick="stringClick()" class="string radio" checked>
                  <label for="nav__string" class="nav__label string__label">
                    String
                  </label>
                </a>
              </h2>
            </li>
            <li class="nav__items">
              <h2 class="card__heading">
                <a href="#" class="card__heading--link heading2">
                  <input type="radio" name="nav" id="nav__label" onclick="fileClick()" class="file radio">
                  <label for="nav__label" class="nav__label string__label">
                    File
                  </label>
                </a>
              </h2>
            </li>
          </ul>
        </nav>


        <div class="dropmenu">
          <label class="options" for="option">Operation:</label>

          <select name="options" tabindex="1" id="option">
            <option value="encrypt">Encrypt</option>
            <option value="decrypt">Decrypt</option>

          </select>
        </div>



        <!-- String -->
        <div class="card__form card__string" id="string">
          <div class="card__rel">
            <form action="" id="stringForm">
              <div class="card__element">
                <label for="value">
                  <h3 class="card__sub--heading">
                    Value
                  </h3>
                </label>
                <input type="text" tabindex="2" class="card__input" name="value" id="value" autocomplete="off" required>
              </div>
              <div class="card__elements">
                <label for="key">
                  <h3 class="card__sub--heading">
                    Key
                  </h3>
                </label>
                <input type="text" tabindex="3" class="card__input" name="key" id="key" autocomplete="off" required>
              </div>
              <div class="card__algo">
                <div for="card__algo--main">
                  <h3 class="card__sub--heading">
                    Algorithm
                  </h3>
                </div>
                <div class="card__algo--inputs">
                  <div class="inputs">
                    <input type="radio" name="stringAlgo" value="AES" class="card__algo--radio radio" id="aes" checked>
                    <label for="aes" class="card__algo-radio--label radio__label">
                      <span class="card__algo--label radio__inputs">
                      </span>
                      AES
                    </label>
                  </div>
                  <div class="inputs">
                    <input type="radio" value="blowfish" name="stringAlgo" class="card__algo--radio radio"
                      id="blowfish">
                    <label for="blowfish" class="card__algo-radio--label radio__label">
                      <span class="card__algo--label radio__inputs">
                      </span>
                      Blowfish
                    </label>
                  </div>
                  <div class="inputs">
                    <input type="radio" value="DES" name="stringAlgo" class="card__algo--radio radio" id="des">
                    <label for="des" class="card__algo-radio--label radio__label">
                      <span class="card__algo--label radio__inputs">
                      </span>
                      DES
                    </label>
                  </div>
                  <div class="inputs">
                    <input type="radio" value="DESede" name="stringAlgo" class="card__algo--radio radio" id="desede">
                    <label for="desede" class="card__algo-radio--label radio__label">
                      <span class="card__algo--label radio__inputs">
                      </span>
                      DESede
                    </label>
                  </div>
                  <div class="inputs">
                    <input type="radio" value="RC2" name="stringAlgo" class="card__algo--radio radio" id="rc2">
                    <label for="rc2" class="card__algo-radio--label radio__label">
                      <span class="card__algo--label radio__inputs">

                      </span>
                      RC2
                    </label>
                  </div>
                  <div class="inputs">
                    <input type="radio" value="RCA" name="stringAlgo" class="card__algo--radio radio" id="rca">
                    <label for="rca" class="card__algo-radio--label radio__label">
                      <span class="card__algo--label radio__inputs">
                      </span>
                      RCA
                    </label>
                  </div>
                </div>
              </div>
              <div class="card__mode">
                <div for="card__mode--main">
                  <h3 class="card__sub--heading">
                    Mode
                  </h3>
                </div>
                <div class="card__mode--inputs">
                  <div class="mode__inputs">
                    <input type="radio" value="CBC" name="stringMode" class="card__mode--radio radio" id="cbc" checked>
                    <label for="cbc" class="card__mode-radio--label radio__label">
                      <span class="mode__span radio__inputs">
                      </span>
                      CBC
                    </label>
                  </div>
                  <div class="mode__inputs">
                    <input type="radio" value="CFB" name="stringMode" class="card__mode--radio radio" id="cfb">
                    <label for="cfb" class="card__mode-radio--label radio__label">
                      <span class="mode__span radio__inputs">
                      </span>
                      CFB
                    </label>
                  </div>
                  <div class="mode__inputs">
                    <input type="radio" value="ECB" name="stringMode" class="card__mode--radio radio" id="ecb">
                    <label for="ecb" class="card__mode-radio--label radio__label">
                      <span class="mode__span radio__inputs">
                      </span>
                      ECB
                    </label>
                  </div>
                  <div class="mode__inputs">
                    <input type="radio" value="OFB" name="stringMode" class="card__mode--radio radio" id="ofb">
                    <label for="ofb" class="card__mode-radio--label radio__label">
                      <span class="mode__span radio__inputs">
                      </span>
                      OFB
                    </label>
                  </div>
                </div>
              </div>
              <div class="btn__main">
                <div class="card__btn">
                  <button tabindex="4" class="btn btn-animate" type="submit">SUBMIT</button>
                </div>
              </div>
            </form>
          </div>
        </div>



        <!-- File -->
        <div class="card__form card__file" id="file">
          <div class="card__rel">
            <form action="#" id="fileForm">
              <div class="card__element">
                <label for="value">
                  <h3 class="card__sub--heading">
                    File
                  </h3>
                </label>
                <input type="file" tabindex="2" class="card__input" name="file" id="File" autocomplete="off" required>
              </div>
              <div class="card__elements">
                <label for="key">
                  <h3 class="card__sub--heading">
                    Key
                  </h3>
                </label>
                <input type="text" tabindex="3" class="card__input" name="key" id="keyFile" autocomplete="off" required>
              </div>
              <div class="card__algo">
                <div for="card__algo--main">
                  <h3 class="card__sub--heading">
                    Algorithm
                  </h3>
                </div>
                <div class="card__algo--inputs">
                  <div class="inputs">
                    <input type="radio" value="AES" name="file" class="card__algo--radio radio" id="aesFile" checked>
                    <label for="aesFile" class="card__algo-radio--label radio__label">
                      <span class="card__algo--label radio__inputs">
                      </span>
                      AES
                    </label>
                  </div>
                  <div class="inputs">
                    <input type="radio" value="Blowfish" name="file" class="card__algo--radio radio" id="blowfishFile">
                    <label for="blowfishFile" class="card__algo-radio--label radio__label">
                      <span class="card__algo--label radio__inputs">
                      </span>
                      Blowfish
                    </label>
                  </div>
                  <div class="inputs">
                    <input type="radio" value="DES" name="file" class="card__algo--radio radio" id="desFile">
                    <label for="desFile" class="card__algo-radio--label radio__label">
                      <span class="card__algo--label radio__inputs">
                      </span>
                      DES
                    </label>
                  </div>
                  <div class="inputs">
                    <input type="radio" value="DESede" name="file" class="card__algo--radio radio" id="desedeFile">
                    <label for="desedeFile" class="card__algo-radio--label radio__label">
                      <span class="card__algo--label radio__inputs">
                      </span>
                      DESede
                    </label>
                  </div>
                  <div class="inputs">
                    <input type="radio" value="RC2" name="file" class="card__algo--radio radio" id="rc2File">
                    <label for="rc2File" class="card__algo-radio--label radio__label">
                      <span class="card__algo--label radio__inputs">
                      </span>
                      RC2
                    </label>
                  </div>
                  <div class="inputs">
                    <input type="radio" value="RCA" name="file" class="card__algo--radio radio" id="rcaFile">
                    <label for="rcaFile" class="card__algo-radio--label radio__label">
                      <span class="card__algo--label radio__inputs">
                      </span>
                      RCA
                    </label>
                  </div>
                </div>
              </div>
              <div class="card__mode">
                <div for="card__mode--main">
                  <h3 class="card__sub--heading">
                    Mode
                  </h3>
                </div>
                <div class="card__mode--inputs">
                  <div class="mode__inputs">
                    <input type="radio" value="CBC" name="fileMode" class="card__mode--radio radio" id="cbcFile"
                      checked>
                    <label for="cbcFile" class="card__mode-radio--label radio__label">
                      <span class="mode__span radio__inputs">
                      </span>
                      CBC
                    </label>
                  </div>
                  <div class="mode__inputs">
                    <input type="radio" value="CFB" name="fileMode" class="card__mode--radio radio" id="cfbFile">
                    <label for="cfbFile" class="card__mode-radio--label radio__label">
                      <span class="mode__span radio__inputs">
                      </span>
                      CFB
                    </label>
                  </div>
                  <div class="mode__inputs">
                    <input type="radio" value="ECB" name="fileMode" class="card__mode--radio radio" id="ecbFile">
                    <label for="ecbFile" class="card__mode-radio--label radio__label">
                      <span class="mode__span radio__inputs">
                      </span>
                      ECB
                    </label>
                  </div>
                  <div class="mode__inputs">
                    <input type="radio" value="OFB" name="fileMode" class="card__mode--radio radio" id="ofbFile">
                    <label for="ofbFile" class="card__mode-radio--label radio__label">
                      <span class="mode__span radio__inputs">
                      </span>
                      OFB
                    </label>
                  </div>
                </div>
              </div>
              <div class="btn__main">
                <div class="card__btn">
                  <button id="submit" tabindex="4" class="btn btn-animate" type="submit">SUBMIT</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="output" id="output">
      <div class="container">
        <div class="card">
          <div class="card__top">
            <h2 class="h-output">
              Output:
            </h2>
            <span class="copy" onclick="copyText()"><i id="copy" class="far fa-copy copy__icon"></i></span>
          </div id="Output">
          <p class="output__string" id="outputString"></p>
        </div>
      </div>
    </div>
  </section>

</body>

</html>