// COLORS
$color-bg: #e5e5e5;
$color-primary: #892cdc;
$color-primary-dark: #7517c8;
$color-primary-light: rgba(138, 44, 220, 0.6);
$color-radio: #cb6ce6;
$color-white: #fff;
$color-black: #000;
$color-black-light: rgba(0, 0, 0, 0.671);
$color-grey: #999;
